{% extends "layout.html" %}
{% block content1 %}
    
<div class="flex flex-auto justify-center items-center mt-20 ">

    <div class="border-2 border-sky-600 basis-1/2 p-4 mx-2 rounded-lg text-center md:basis-1/4">
        <h2 class="text-5xl text-sky-100 md:text-8xl">{{ men }}</h2>
        <p class="text-base text-sky-300 md:text-xl">Men</p>
    </div>

    <div class="border-2 border-sky-600 basis-1/2 p-4 mx-2 rounded-lg text-center md:basis-1/4">
        <h2 class="text-5xl text-sky-100 md:text-8xl">{{ women }}</h2>
        <p class="text-sm text-sky-300 md:text-xl ">Women</p>
    </div>

    <div class="border-2 border-sky-600 basis-1/2 p-4 mx-2 rounded-lg text-center md:basis-1/4">
        <h2 class="text-5xl text-sky-100 md:text-8xl ">{{ boy }}</h2>
        <p class="text-sm text-sky-300 md:text-xl ">Boys</p>
    </div>

    <div class="border-2 border-sky-600 basis-1/2 p-4 mx-2 rounded-lg text-center md:basis-1/4 ">
        <h2 class="text-5xl text-sky-100 md:text-8xl">{{ girl }}</h2>
        <p class="text-sm text-sky-300 md:text-xl ">Girls</p>
    </div>
    
</div>


{% endblock %}